main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.block {
  margin: 5vh auto;
  background: white;
  border-radius: 10px;
  overflow:hidden ;
}
.my-message {
  width: 15vw;
}
article {
  width: 50vw;
}
article ul li {
  height: 30vh;
  cursor: pointer;
}
article ul li div {
  overflow: hidden;
}
article ul li div .cover {
  height: 20vh;
  background: url(../img/网站背景.jpg) center/cover;
  transition: all .2s;
}
article ul li:hover .cover{
  filter: blur(5px);
  transform-origin: center;
  transform: scale(1.3);
}
aside {
  width: 15vw;
}