@media screen and (max-width: 750px){
  main .my-message,main aside{
    display: none;
  }
  @keyframes article {
    0% {
      width: 50vw;
    }
    100% {
      width: 90vw;
    }
  }
  article {
    animation: article .3s ease-in-out forwards;
  }
}